@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Scripture Journal</h1>
    <br>
    <blockquote>“Scripture can calm an agitated soul, giving peace, hope and a restoration of confidence in one's ability to overcome the challenges of life. They have potent power to heal emotional challenges when there is faith in the Savior. They can accelerate physical healing.”</blockquote>
    <p class="quote-author">- Richard G. Scott</p>
</div>
